.nav{
  width: 100%;
}
.p{
  font-size:18px;
  color: darkgray;
  text-align: center;
  margin-top: 20px;
}
.set{
  display: flex;
  margin-top: 26px;
}
.set>div:nth-child(1){
  width: 50px;
  height: 40px;
  font-size: 24rpx;
  color: #a8a8a8;
  text-align: center;
  line-height: 40px;
}
.set_input{
  width: 260px;
  height: 40px;
  border:1px solid #a8a8a8;
  padding-left: 10px;
}
.set_btn{
  width: 200px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  margin: auto;
  background-color: #4981F2;
  color: #fff;
  margin-top: 40px;
  border-radius: 10px;
}